html,
body {
  height: 100%;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.left {
  flex-grow: 2;
}
.right {
  flex-grow: 1;
}

textarea {
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0px;
  padding-top: 24px;
  padding-left: 12px;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.text-area {
  width: 300px;
  background-color: white;
  color: black;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

[contenteditable='true']:focus {
  outline: none;
}
